<h1>Theme based on Angular Material</h1>

<h2>Colors</h2>
<h3>Text colors</h3>
<ul>
  <li><span class="col-primary">col-primary</span>, with muted alternative</li>
  <li><span class="col-secondary">col-secondary</span>, with muted alternative</li>
  <li><span class="col-success">col-success</span></li>
  <li><span class="col-info">col-info</span></li>
  <li><span class="col-warning">col-warning</span></li>
  <li><span class="col-danger">col-danger</span></li>
  <li><span class="col-error">col-error</span></li>
  <li><span class="col-light">col-light</span></li>
  <li><span class="col-dark">col-dark</span></li>
</ul>
<h3>Background colors</h3>
<ul>
  <li><span class="bg-primary">bg-primary</span></li>
  <li><span class="bg-secondary">bg-secondary</span></li>
  <li><span class="bg-success">bg-success</span></li>
  <li><span class="bg-info">bg-info</span></li>
  <li><span class="bg-warning">bg-warning</span></li>
  <li><span class="bg-danger">bg-danger</span></li>
  <li><span class="bg-error">bg-error</span></li>
  <li><span class="bg-light">bg-light</span></li>
  <li><span class="bg-dark">bg-dark</span></li>
</ul>
<h3>Light background colors</h3>
<ul>
  <li><span class="bg-light-primary">bg-light-primary</span></li>
  <li><span class="bg-light-secondary">bg-light-secondary</span></li>
  <li><span class="bg-light-success">bg-light-success</span></li>
  <li><span class="bg-light-info">bg-light-info</span></li>
  <li><span class="bg-light-warning">bg-light-warning</span></li>
  <li><span class="bg-light-danger">bg-light-danger</span></li>
  <li><span class="bg-light-error">bg-light-error</span></li>
  <li><span class="bg-light-light">bg-light-light</span></li>
  <li><span class="bg-light-dark">bg-light-dark</span></li>
</ul>

<h2>Simple components</h2>
<h3>Typography</h3>
<h3>Cards</h3>
<h4>Code source</h4>
<h4>Citation block</h4>
<h3>Alerts</h3>
<h3>Buttons</h3>
<h3>Forms</h3>
<h3>Bullets</h3>
<h3>Tags</h3>
<h3>Badges</h3>
<h3>Tables</h3>

<h2>Complex components</h2>
<h3>Toolbar</h3>
<h3>Side menu</h3>
<h3>Pagination</h3>
<h3>Breadcrumbs</h3>
<h3>Tabs</h3>
<h3>Toasts</h3>
<h3>Tooltips</h3>

<h2>Helpers</h2>
<h3>Flex layout</h3>
<h3>Borders</h3>
<h3>Opacity</h3>
<h3>Hover effects</h3>
<h3>Pulse (click/tap) effects</h3>
