<h1>Theme based on Angular Material</h1>

<h2>Colors</h2>
<h3>Text colors</h3>
<ul>
  <li>col-primary, with muted alternative</li>
  <li>col-secondary, with muted alternative</li>
  <li>col-success</li>
  <li>col-info</li>
  <li>col-warning</li>
  <li>col-danger</li>
  <li>col-error</li>
  <li>col-light</li>
  <li>col-dark</li>
</ul>
<h3>Background colors</h3>
<ul>
  <li>bg-primary</li>
  <li>bg-secondary</li>
  <li>bg-success</li>
  <li>bg-info</li>
  <li>bg-warning</li>
  <li>bg-danger</li>
  <li>bg-error</li>
  <li>bg-light</li>
  <li>bg-dark</li>
</ul>
<h3>Light background colors</h3>
<ul>
  <li>bg-light-primary</li>
  <li>bg-light-secondary</li>
  <li>bg-light-success</li>
  <li>bg-light-info</li>
  <li>bg-light-warning</li>
  <li>bg-light-danger</li>
  <li>bg-light-error</li>
  <li>bg-light-light</li>
  <li>bg-light-dark</li>
</ul>

<h2>Simple components</h2>
<h3>Cards</h3>
<h4>Code source</h4>
<h4>Citation block</h4>
<h3>Alerts</h3>
<h3>Buttons</h3>
<h3>Forms</h3>
<h3>Bullets</h3>
<h3>Tags</h3>
<h3>Badges</h3>
<h3>Tables</h3>

<h2>Complex components</h2>
<h3>Toolbar</h3>
<h3>Side menu</h3>
<h3>Pagination</h3>
<h3>Breadcrumbs</h3>
<h3>Tabs</h3>
<h3>Toasts</h3>
<h3>Tooltips</h3>

<h2>Helpers</h2>
<h3>Flex layout</h3>
<h3>Borders</h3>
<h3>Opacity</h3>
<h3>Hover effects</h3>
<h3>Pulse (click/tap) effects</h3>
